.cart-container {
    max-width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-header {
    background: #e7e7e7;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.cart-summary {
    background: #e7e7e7;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

p-table {
    margin-top: 1rem;
}

p-button {
    margin: 0.5rem;
}

.shadow-4 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-round {
    border-radius: 8px;
}

.buttons{
    background-color: transparent;
}


  