<div class="card" >
  <p-dataView #dv [value]="giftlist" [layout]="layout" >
    <ng-template pTemplate="header">
              <div class="flex justify-content-end">
                  <p-dataViewLayoutOptions [layout]="layout" />
              </div>
          </ng-template>
    <ng-template let-gift pTemplate="grid" let-gifts >
      <div class="grid grid-nogutter" >
        <div class="col-12 sm:col-6 md:col-3 xl:col-3 p-2" *ngFor="let gift of gifts">
          <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
            <div class="surface-50 flex justify-content-center border-round p-3">
                <div class="relative mx-auto">
                    <img class="border-round w-full" [src]="gift.imageUrl" [alt]="gift.name" style="max-width: 300px;" />
                </div>
            </div>
            <div class="pt-4">
                <div class="flex flex-row justify-content-between align-items-start gap-2">
                    <div>
                        <div class="text-lg font-medium text-900 mt-1">{{ gift.name }}</div>
                    </div>
                </div>
                <div class="flex flex-column gap-4 mt-4">
                    <span class="text-2xl font-semibold">{{ '$' + gift.ticketPrice }}</span>
                    <div class="flex gap-2">
                        <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="Buy Ticket"  (onClick)="addGiftToCart(gift)" />
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="list" let-gifts>
      <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let gift of gifts; let first = first" class="col-12">
              <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                  <div class="md:w-10rem relative">
                      <img class="block xl:block mx-auto border-round w-full" [src]="gift.imageUrl" [alt]="gift.name" />
                  </div>
                  <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                      <div class="flex flex-row md:flex-column justify-content-between align-items-center gap-2">
                          <div>
                              <span class="font-medium text-secondary text-sm">{{ gift.donor }}</span>
                              <div class="text-lg font-medium text-900 mt-2">{{ gift.name }}</div>
                          </div>
                          <div class="surface-100 p-1" style="border-radius: 30px">
                             
                          </div>
                      </div>
                      <div class="flex flex-column md:align-items-end gap-5">
                          <span class="text-xl font-semibold text-900">{{ '$' + gift.ticketPrice }}</span>
                          <div class="flex flex-row-reverse md:flex-row gap-2">
                              <p-button icon="pi pi-shopping-cart" class="flex-auto md:flex-initial white-space-nowrap" label="Buy Ticket" (onClick)="addGiftToCart(gift)" />
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
  </p-dataView>
</div>
<p-toast></p-toast>
            