.error-message {
    color: red; /* הצבע של כל ההודעה והאייקון */
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .error-message i {
    color: red; 
    font-size: 1.2rem;
  }
  